/* @import './base.css'; */

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--background-color);
}

* {
  font-family: "Segoe UI", "Lato", Arial, sans-serif;
}

:root {
  --background-color: #c8c8ca;
  --sidebar-color: #b3b3b3;
  --color: #333333;
  --selected-color: #8a0f0f;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
